[submodule "SuperGluePretrainedNetwork"]
	path = SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "LoFTR"]
	path = LoFTR
	url = https://github.com/zju3dv/LoFTR.git
