setuptools
numpy
opencv-python
scipy>=1.4.0
OWSLib==0.25.0
pyyaml
requests

# Geospatial objects handling
geopandas==0.12.2
shapely==1.8.2
pyproj==3.2.1

# MockGPSNode
gps-time

# MAVROS WGS84 ellipsoid to AMSL altitude conversion
pygeodesy
