setuptools
numpy
opencv-python
torch
scipy>=1.4.0
OWSLib==0.25.0
pyyaml

# Geospatial objects handling
geopandas
shapely
pyproj

# Used by LoFTR
einops
kornia
yacs

# MockGPSNode
gps-time

# MAVROS WGS84 ellipsoid to AMSL altitude conversion
pygeodesy