# Sphinx
Sphinx==4.3.2
pydata-sphinx-theme
autodocsumm==0.2.7
docutils>=0.17
myst_parser==0.16.1
pygments==2.11.2  # make Sphinx highlighting work
sphinx-design
sphinxcontrib-video

# Unit & ROS 2 integration tests
pytest
coverage

# SITL tests
mavsdk

# .ulog analysis
jupyter
git+https://github.com/dronecrew/px4tools.git
