body {
  font-family: Poppins!important;
}

footer {
    padding: 10px;
    word-wrap: break-word;
    margin-top: auto;
    width: 100%;
    bottom: 0
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

main {
  height: 100vh;
}
