body, h1, h2, h3, h4, h5, h6 {
    font-family: Sans-Serif !important;
}

img.logo__image {
    padding: 6px
}

/*
body {
    --themecolor: #0291DA
}

.wy-side-nav-search {
  background-color: var(--themecolor);
}

.wy-nav-top {
  background-color: var(--themecolor);
}
*/