[Unit]
Description=GISNav systemd service
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/gisnav/docker
ExecStart=gnc up gisnav -d
ExecStop=gnv stop
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
