# Sphinx
Sphinx<7
pydata-sphinx-theme
autodocsumm
docutils>=0.17
myst_parser
pygments
sphinx-design
sphinxcontrib-video
sphinxcontrib-mermaid

# Unit & ROS 2 integration tests
pytest
coverage

# SITL tests
mavsdk
aiohttp

# .ulog analysis
jupyter
git+https://github.com/dronecrew/px4tools.git

pre-commit

# px4 docker image build
lxml
types-PyYAML
