name: Build and deploy Sphinx documentation

on:
  push:
    # Run when new version tag is pushed
    tags:
      - v*

  # Allows running manually from the Actions tab
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-20.04
    container: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Build Sphinx docs
        run: |
          mkdir docs
          docker run ghcr.io/${{ github.repository }}:latest cd /opt/colcon_ws/src/gisnav && make docs
          docker cp $(docker ps -q -l):/opt/colcon_ws/src/gisnav/docs/_build docs

      - name: Install node
        run: |
          apt-get update
          apt-get -y install curl
          curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
          apt-get install -y nodejs

      - name: Setup pages
        uses: actions/configure-pages@v1

      - name: Make "Upload pages artifact" step work with containers
        run: |
          mkdir -p ${{runner.temp}}
          mkdir -p /__w/_temp
          ln -s ${{runner.temp}}/artifact.tar /__w/_temp/artifact.tar

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'docs/_build/html/'

  deploy:
    needs: build

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-20.04
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
