name: Run ROS 2 launch tests

on:
  workflow_run:
    workflows: [ "Push latest GISNav multi-arch Docker images to GHCR" ]
    types:
      - completed

  # Allows running manually from the Actions tab
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-20.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Run ROS 2 launch tests
        run: docker run ghcr.io/${{ github.repository }}:latest make test-launch
