[Unit]
Description=GISNav Docker Compose Services
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/gisnav-compose
ExecStart=docker compose -p gisnav up gisnav homepage -d
ExecStop=docker compose -p gisnav stop
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
